.accountlist {
  width: 100%;
}

.accountlist .listitem {
  border: 1px solid lightgray;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  margin-bottom: 12px;
}

.accountlist .listitem .profile {
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 15px;
}

.accountlist .listitem .profile img {
  width: 100%;
}

.accountlist .listitem .detail {
  width: auto;
  height: fit-content;
  margin-left: 20px;
  padding-top: 10px;
}

.accountlist .listitem .detail .username {
  color: gray;
}

.feed-account-head-light {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  margin-top: 100px;
  padding: 35px;
}

.feed-account-head-light .profile {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 15px;
  padding: 20px;
}

.feed-account-head-light .profile img {
  width: 100%;
  border-radius: 20px;
  padding: 0px;
}

.feed-account-head-light .detail {
  width: 70%;
  padding: 20px;
}

.feed-account-head-light .detail .name {
  font-size: 22px;
  margin-bottom: 10px;
}

.feed-account-head-light .detail .information {
  display: flex;
  justify-content: flex-start;
}

.feed-account-head-light .detail .information .tab {
  width: fit-content;
  padding: 5px 10px;
  color: white;
  background-color: gray;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.feed-account-head-light .detail .information .tab i {
  margin-right: 10px;
}

.feed-account-head-light .detail .bio {
  margin-bottom: 10px;
  font-size: 16px;
}

.feed-account-head-light .detail .weblink {
  width: fit-content;
  padding: 5px 10px;
  color: white;
  background-color: gray;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.feed-account-head-light .detail .weblink i {
  margin-right: 10px;
}

.feed-account-head-dark {
  display: flex  !important;
  background-color: #1b1b1b;
  border-radius: 20px;
  justify-content: flex-start;
  margin-top: 100px;
  padding: 35px;
}

.feed-account-head-dark .profile {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 15px;
  padding: 20px;
}

.feed-account-head-dark .profile img {
  width: 100%;
  border-radius: 20px;
  padding: 0px;
}

.feed-account-head-dark .detail {
  width: 70%;
  padding: 20px;
}

.feed-account-head-dark .detail .name {
  font-size: 22px;
  margin-bottom: 10px;
}

.feed-account-head-dark .detail .information {
  display: flex;
  justify-content: flex-start;
}

.feed-account-head-dark .detail .information .tab {
  width: fit-content;
  padding: 5px 10px;
  color: white;
  background-color: gray;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.feed-account-head-dark .detail .information .tab i {
  margin-right: 10px;
}

.feed-account-head-dark .detail .bio {
  margin-bottom: 10px;
  font-size: 16px;
}

.feed-account-head-dark .detail .weblink {
  width: fit-content;
  padding: 5px 10px;
  color: white;
  background-color: gray;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.feed-account-head-dark .detail .weblink i {
  margin-right: 10px;
}
/*# sourceMappingURL=globalfix.css.map */