.dark-preview-holder {
  background-color: #21242b !important;
}

.dark-preview-holder .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4f4f4f !important;
}

.dark-preview-holder .placebar-full {
  height: 10px;
  border-radius: 2px;
  background-color: #4f4f4f !important;
  margin: 5px;
}

.dark-preview-holder .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #4f4f4f !important;
  margin: 5px;
}

.dark-preview-holder .optionselection {
  background-color: #21242b !important;
  color: white;
}

.preview-holder {
  background-color: white;
  border-radius: 13px;
}

.preview-holder .header {
  border-bottom: 1px solid gray;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-holder .header .brand {
  height: 100%;
  padding-left: 20px;
}

.preview-holder .header .brand img {
  height: 35%;
  width: auto !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
}

.preview-holder .header .social-switch-select {
  padding-right: 20px;
}

.preview-holder .header .social-switch-select .select {
  border: none;
  background-color: none;
  border-radius: 8px;
  outline: none;
}

.preview-holder .body .social-preview {
  border: 1px solid red;
}

.instagram-post .post-header {
  height: auto;
  display: block;
  border: 0px;
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px;
  margin-top: 20px;
}

.instagram-post .post-header .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #efefef;
}

.instagram-post .post-header .placebar-full {
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.instagram-post .post-header .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.instagram-post .post-header .left {
  margin-right: 7px;
}

.instagram-post .post-header .right {
  width: 60%;
}

.instagram-post .post-body .post-image {
  width: 100%;
}

.instagram-post .post-body .post-image .img {
  width: 100%;
}

.instagram-post .post-footer {
  padding: 20px;
}

.instagram-post .post-footer .placebar-full {
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.instagram-post .post-footer .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.instagram-album {
  display: none;
}

.instagram-album .post-header {
  height: auto;
  display: block;
  border: 0px;
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px;
  margin-top: 20px;
}

.instagram-album .post-header .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #efefef;
}

.instagram-album .post-header .placebar-full {
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.instagram-album .post-header .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.instagram-album .post-header .left {
  margin-right: 7px;
}

.instagram-album .post-header .right {
  width: 60%;
}

.instagram-album .post-body .post-image {
  width: 380px;
  height: 380px;
  overflow: hidden;
}

.instagram-album .post-body .post-image .img {
  height: 100%;
  width: auto;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  background-position: center;
}

.instagram-album .post-footer {
  padding: 20px;
}

.instagram-album .post-footer .placebar-full {
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.instagram-album .post-footer .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.instagram-story {
  display: none;
}

.instagram-story .post-container {
  width: 100%;
  height: 700px;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.instagram-story .post-container .story-strip {
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  padding-top: 14px;
}

.instagram-story .post-container .story-strip .strip {
  width: 33%;
  height: 5px;
  background-color: #3b3b3b;
  margin: 0px 3px;
}

.instagram-story .post-container .post-header {
  height: auto;
  display: block;
  border: 0px;
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px;
  margin-top: 20px;
  position: relative;
  top: 0;
}

.instagram-story .post-container .post-header .left {
  margin-right: 7px;
}

.instagram-story .post-container .post-header .left .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3b3b3b;
}

.instagram-story .post-container .post-header .right {
  width: 60%;
}

.instagram-story .post-container .post-header .right .placebar-full {
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background-color: #3b3b3b;
  margin: 5px;
}

.instagram-story .post-container .post-header .right .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #3b3b3b;
  margin: 5px;
}

.instagram-story .post-container .post-footer {
  display: flex;
  position: relative;
  top: 545px;
  padding: 0px 10px;
  left: 0;
}

.instagram-story .post-container .post-footer .replybox {
  width: 95%;
  height: 20px;
  border-radius: 15px;
  background-color: #3b3b3b;
  margin-right: 8px;
}

.instagram-story .post-container .post-footer .replybtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3b3b3b;
}

.twitter-post {
  display: none;
}

.twitter-post .post-header {
  height: auto;
  display: block;
  border: 0px;
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px;
  margin-top: 20px;
}

.twitter-post .post-header .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #efefef;
}

.twitter-post .post-header .placebar-full {
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.twitter-post .post-header .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.twitter-post .post-header .left {
  margin-right: 7px;
}

.twitter-post .post-header .right {
  width: 60%;
}

.twitter-post .post-body .post-image {
  padding: 15px;
  width: 100%;
  overflow: hidden;
}

.twitter-post .post-body .post-image .img {
  width: 100%;
  border-radius: 10px;
}

.twitter-post .post-footer {
  padding: 10px 20px;
}

.twitter-post .post-footer .placebar-full {
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.twitter-post .post-footer .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.twitter-story {
  display: none;
}

.twitter-story .post-container {
  width: 100%;
  height: 700px;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 18px;
  margin-top: 10px;
}

.twitter-story .post-container .story-strip {
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  padding-top: 14px;
}

.twitter-story .post-container .story-strip .strip {
  width: 33%;
  height: 5px;
  background-color: #3b3b3b;
  margin: 0px 3px;
}

.twitter-story .post-container .post-header {
  height: auto;
  display: block;
  border: 0px;
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px;
  margin-top: 10px;
  position: relative;
  top: 0;
}

.twitter-story .post-container .post-header .left {
  margin-right: 7px;
}

.twitter-story .post-container .post-header .left .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3b3b3b;
}

.twitter-story .post-container .post-header .right {
  width: 60%;
}

.twitter-story .post-container .post-header .right .placebar-full {
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background-color: #3b3b3b;
  margin: 5px;
}

.twitter-story .post-container .post-header .right .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #3b3b3b;
  margin: 5px;
}

.twitter-story .post-container .post-footer {
  display: flex;
  position: relative;
  top: 586px;
  padding: 0px 10px;
  left: 0;
}

.twitter-story .post-container .post-footer .replybox {
  width: 95%;
  height: 20px;
  border-radius: 15px;
  background-color: #3b3b3b;
  margin-right: 8px;
}

.twitter-story .post-container .post-footer .replybtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3b3b3b;
}

.linkedin-post {
  display: none;
}

.linkedin-post .post-header {
  height: auto;
  display: block;
  border: 0px;
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px;
  margin-top: 20px;
}

.linkedin-post .post-header .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #efefef;
}

.linkedin-post .post-header .placebar-full {
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.linkedin-post .post-header .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.linkedin-post .post-header .left {
  margin-right: 7px;
}

.linkedin-post .post-header .right {
  width: 60%;
}

.linkedin-post .post-body .post-image {
  width: 100%;
  overflow: hidden;
}

.linkedin-post .post-body .post-image .img {
  width: 100%;
}

.linkedin-post .post-footer {
  padding: 10px 20px;
}

.linkedin-post .post-footer .placebar-full {
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.linkedin-post .post-footer .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.facebook-post {
  display: none;
}

.facebook-post .post-header {
  height: auto;
  display: block;
  border: 0px;
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px;
  margin-top: 20px;
}

.facebook-post .post-header .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #efefef;
}

.facebook-post .post-header .placebar-full {
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.facebook-post .post-header .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.facebook-post .post-header .left {
  margin-right: 7px;
}

.facebook-post .post-header .right {
  width: 60%;
}

.facebook-post .post-body .post-image {
  width: 100%;
  overflow: hidden;
}

.facebook-post .post-body .post-image .img {
  width: 100%;
}

.facebook-post .post-footer {
  padding: 10px 20px;
}

.facebook-post .post-footer .placebar-full {
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.facebook-post .post-footer .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.facebook-post .post-footer .actionbar {
  display: flex;
  justify-content: space-evenly;
}

.facebook-post .post-footer .actionbar .action {
  display: flex;
  justify-content: center;
  color: black;
}

.facebook-post .post-footer .actionbar .action .icon {
  height: 20px;
}

.facebook-post .post-footer .actionbar .action .icon .img {
  height: 100%;
}

.facebook-post .post-footer .actionbar .action .label {
  color: black;
  text-align: center;
  padding: 6px;
}

.facebook-story {
  display: none;
}

.facebook-story .post-container {
  width: 100%;
  height: 700px;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.facebook-story .post-container .story-strip {
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  padding-top: 14px;
}

.facebook-story .post-container .story-strip .strip {
  width: 33%;
  height: 5px;
  background-color: #3b3b3b;
  margin: 0px 3px;
}

.facebook-story .post-container .post-header {
  height: auto;
  display: block;
  border: 0px;
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px;
  margin-top: 8px;
  position: relative;
  top: 0;
}

.facebook-story .post-container .post-header .left {
  margin-right: 7px;
}

.facebook-story .post-container .post-header .left .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3b3b3b;
}

.facebook-story .post-container .post-header .right {
  width: 60%;
}

.facebook-story .post-container .post-header .right .placebar-full {
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background-color: #3b3b3b;
  margin: 5px;
}

.facebook-story .post-container .post-header .right .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #3b3b3b;
  margin: 5px;
}

.facebook-story .post-container .post-footer {
  display: flex;
  position: relative;
  top: 555px;
  padding: 0px 10px;
  left: 0;
}

.facebook-story .post-container .post-footer .replybox {
  width: 95%;
  height: 20px;
  border-radius: 15px;
  background-color: #3b3b3b;
  margin-right: 8px;
}

.facebook-story .post-container .post-footer .replybtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3b3b3b;
}

.youtube-post {
  display: none;
}

.youtube-post .video-container {
  width: 100%;
  background-color: #efefef;
}

.youtube-post .video-container .img {
  width: 100%;
}

.youtube-post .title {
  margin-top: 12px;
}

.youtube-post .title .placebar-full {
  width: 80%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.youtube-post .title .placebar-half {
  width: 30%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.youtube-post .profile {
  display: flex;
  justify-content: flex-start;
  padding: 0px 20px;
}

.youtube-post .profile .left {
  margin-right: 7px;
}

.youtube-post .profile .left .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #efefef;
}

.youtube-post .profile .right {
  width: 60%;
}

.youtube-post .profile .right .placebar-full {
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.youtube-post .profile .right .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.youtube-post .videolist {
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.youtube-post .videolist .video {
  margin-bottom: 20px;
}

.youtube-post .videolist .video .image {
  width: 90%;
  height: 150px;
  background-color: #efefef;
  margin: 0 auto;
}

.youtube-post .videolist .video .detail {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
}

.youtube-post .videolist .video .detail .left {
  margin-right: 7px;
}

.youtube-post .videolist .video .detail .left .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #efefef;
}

.youtube-post .videolist .video .detail .right {
  width: 60%;
}

.youtube-post .videolist .video .detail .right .placebar-full {
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.youtube-post .videolist .video .detail .right .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #efefef;
  margin: 5px;
}

.youtube-story {
  display: none;
}

.youtube-story .post-container {
  width: 100%;
  height: 700px;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.youtube-story .post-container .story-strip {
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  padding-top: 14px;
}

.youtube-story .post-container .story-strip .strip {
  width: 33%;
  height: 5px;
  background-color: #3b3b3b;
  margin: 0px 3px;
}

.youtube-story .post-container .post-header {
  height: auto;
  display: block;
  border: 0px;
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px;
  margin-top: 20px;
  position: relative;
  top: 540px;
  border-bottom: 1px solid gray;
}

.youtube-story .post-container .post-header .left {
  margin-right: 7px;
}

.youtube-story .post-container .post-header .left .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3b3b3b;
}

.youtube-story .post-container .post-header .right {
  width: 60%;
}

.youtube-story .post-container .post-header .right .placebar-full {
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background-color: #3b3b3b;
  margin: 5px;
}

.youtube-story .post-container .post-header .right .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #3b3b3b;
  margin: 5px;
}

.youtube-story .post-container .post-footer {
  display: flex;
  position: relative;
  top: 545px;
  padding: 0px 10px;
  left: 0;
}

.youtube-story .post-container .post-footer .replybox {
  width: 95%;
  height: 20px;
  border-radius: 15px;
  background-color: #3b3b3b;
  margin-right: 8px;
}

.youtube-story .post-container .post-footer .replybtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3b3b3b;
}

.tiktok-post {
  display: none;
}

.tiktok-post .post-container {
  width: 100%;
  height: 700px;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.tiktok-post .post-container .top-header {
  padding: 5px;
  text-align: center;
  padding-top: 14px;
  color: lightgray;
  font-size: normal;
}

.tiktok-post .post-container .top-header span {
  color: white;
  font-weight: bold;
}

.tiktok-post .post-container .sideaction {
  position: relative;
  top: 50%;
  width: fit-content;
  left: 85%;
}

.tiktok-post .post-container .sideaction .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3b3b3b;
}

.tiktok-post .post-container .sideaction .icons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}

.tiktok-post .post-container .sideaction .icons img {
  width: 90%;
}

.tiktok-post .post-container .caption {
  width: 80%;
  position: relative;
  top: 370px;
}

.tiktok-post .post-container .caption .placebar-full {
  height: 10px;
  border-radius: 2px;
  background-color: #3b3b3b;
  margin: 5px;
}

.tiktok-post .post-container .caption .placebar-half {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: #3b3b3b;
  margin: 5px;
}
/*# sourceMappingURL=socialpreview.css.map */