.accountlist{
    // border: 1px solid red;
    width: 100%;

    .listitem{
        border: 1px solid lightgray;
        border-radius: 15px;
        display:flex;
        padding: 10px;
        margin-bottom: 12px;
        .profile{
            height:60px;
            width:60px;
            overflow:hidden;
            border-radius: 15px;
            img{
                width:100%;
            }
        }
        .detail{
            width: auto;
            height:fit-content;
            margin-left: 20px;
            padding-top: 10px;
            .name{

            }
            .username{

                color: gray;
            }
        }
    }

}



.feed-account-head-light{
    // border: 1px solid gray;
    background-color:white;
    border-radius: 20px ;
    display:flex;
    justify-content: flex-start;
    margin-top: 100px;
    padding: 35px;

    .profile{
        width: 150px;
        height:150px;
        overflow: hidden;
        border-radius: 15px;
        padding: 20px;
        // margin-top: 50px;
        img{
            width:100%;
            border-radius:20px;
            padding: 0px;

        }
    }
    .detail{
        width: 70%;
        padding: 20px;
        .name{
            font-size: 22px;
            margin-bottom: 10px;
        }
        .information{
            display: flex;
            justify-content: flex-start;
            .tab{
                width:fit-content;
                padding: 5px 10px;
                color: white;
                background-color:gray;
                margin-right: 10px;
                border-radius: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                i{
                    margin-right: 10px;
                }
            }
        }
        .bio{
            margin-bottom: 10px;
            font-size: 16px;

        }
        .weblink{
            width:fit-content;
            padding: 5px 10px;
            color: white;
            background-color:gray;
            margin-right: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            cursor: pointer;
            i{
                margin-right: 10px;
            }
        }
    }
}



.feed-account-head-dark{
    display:flex  !important;
    // border: 1px solid rgb(27, 27, 27);
    background-color:rgb(27, 27, 27);
    border-radius: 20px ;

    justify-content: flex-start;
    margin-top: 100px;
    padding: 35px;

    .profile{
        width: 150px;
        height:150px;
        overflow: hidden;
        border-radius: 15px;
        padding: 20px;
        // margin-top: 50px;
        img{
            width:100%;
            border-radius:20px;
            padding: 0px;

        }
    }
    .detail{
        width: 70%;
        padding: 20px;
        .name{
            font-size: 22px;
            margin-bottom: 10px;
        }
        .information{
            display: flex;
            justify-content: flex-start;
            .tab{
                width:fit-content;
                padding: 5px 10px;
                color: white;
                background-color:gray;
                margin-right: 10px;
                border-radius: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                i{
                    margin-right: 10px;
                }
            }
        }
        .bio{
            margin-bottom: 10px;
            font-size: 16px;

        }
        .weblink{
            width:fit-content;
            padding: 5px 10px;
            color: white;
            background-color:gray;
            margin-right: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            cursor: pointer;
            i{
                margin-right: 10px;
            }
        }
    }
}
