
        #customContainerClass{
            background: #fff;
            padding: 12px;
        }
        .fa-plus {
            border-radius: 100px;
            font-size: 17px;
            border: 1px solid #000;
            padding: 2px 6px;
        }
        .fa-camera{
            font-size:23px;
            margin: 0px !important;
        }
        .types input {
            display: none;
        }
        .clearfix:after, .clearfix:before {
            display: table;
            line-height: 0;
            content: "";
        }
        input[type=checkbox], input[type=radio] {
            box-sizing: border-box;
            padding: 0;
        }
        .types .icon {
            margin-right: 15px;
            font-size: 34px;
            line-height: 1;
        }
        /*.types input+div:hover {*/
        /*    color: #212121;*/
        /*}*/
        .types {
            width:100%;
            margin-bottom: 30px;
        }
        .sli:before {
            display: inline-block;
            font: normal normal normal 24px/1 simple-line-icons;
            font-size: inherit;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            line-height: inherit;
            text-rendering: auto;
        }
        .sli-camera:before {
            content: "\e07f";
        }
        .types .type {
            display: inline-block;
            vertical-align: -1px;
            margin-left:20px;
        }
        label {
            display: block;
            float: left;
            width: 33.33%;
        }
        label {
            font-weight: 500;
        }
        label {
            vertical-align: middle;
        }
        .types .name {
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .types input+div {
            display:flex;
            align-items: center;
            position: relative;
            padding: 18px 34px;
            font-size: 14px;
            line-height: 16px;
            cursor: pointer;
            color: #fff;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition: all ease 0.2s;
            -moz-transition: all ease 0.2s;
            transition: all ease 0.2s;
        }
        .types input:checked+div {
            color: #fff;
            border-color: #333333;
            background-color: #3C3F4E;
        }
        .fa {
            margin-right: 20px;
        }
        #styleImage {
            margin-right: 20px;
        }
        #styleImage2 {
            margin-right: 20px;
        }

        .panel-default{
            background: #fff;
            padding: 20px;
        }
        .box-search-one {
            margin-bottom: 15px;
        }
        .input-group {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: stretch;
            align-items: stretch;
            width: 100%;
        }
        .box-search-one input {
            border: none;
            background-color: #f2f3f7!important;
        }
        #faSearch {
            color:#000;
        }
        .input-group-append > button {
            background:#f2f3f7!important;
        }
        .input-group-append {
            margin-left: 0px;
            border: 1px solid #c0c0c0;
        }
        .card .card-body {
            padding: 15px 40px;
            background-color: transparent;
        }
        .subheader-main > h3{
            margin:0px;
        }
        .wrap {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .widget-list .widget-item {
            padding: 7px 0;
            position: relative;
            height: 55px;
            display: flex;
            align-items: center;
        }
        .widget-list .widget-item.widget-item-3 .content {
            margin-left: 50px;
            margin-right: 23px;
        }
        .widget-list .widget-item .content.content-2 {
            padding-top: 0;
        }
        .widget-list .widget-item .content {
            color: #7d7e80;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding-top: 8px;
        }
        .widget-list .widget-item .content .desc {
            color: #a3a3a3;
            font-size: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .widget-list .widget-item .content .title {
            padding-top: 2px;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 85px;
        }
        .widget-list .widget-option {
            margin-left: 12px;
            margin-right: 12px;
            display: flex;
            align-items: center;
        }
        .search-list{
            margin-bottom:0px;
        }
        .widget {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
        }
        .widget-list .widget-item .icon img {
            width: 100%;
            border-radius: 100px;
            height: 100%;
            position: relative;
            top: -2px;
        }
        .widget-list .widget-item .icon {
            display: inline-block;
            height: 40px;
            width: 40px;
            border-radius: 4px;
            text-align: center;
            line-height: 40px;
            font-size: 18px;
            position: absolute;
            padding: 0;
        }
        .i-radio > input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        .i-radio {
            display: inline-block;
            position: relative;
            padding-left: 30px;
            text-align: left;
            margin-bottom: 10px;
            cursor: pointer;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .post .post-type .item.active a {
            background: #5578eb;
            color: #fff;
        }
        .post .post-type .item:first-child a {
            border-left: none;
        }
        .item {
            cursor: pointer;
            height: 40px;
            display: flex;
            align-items: center;
            border: 1px solid #efefef;
        }
        .post .post-type .item a {
            border-left: 1px solid #f4f4f4;
            border-top: 1px solid #f4f4f4;
            border-bottom: 1px solid #f4f4f4;
            padding: 12px 15px;
            color: #74788d;
            display: block;
        }
        .fs-16{
            color: #17a2b8 !important;
            margin-bottom: 20px;
        }
        .post .post-preview .tab {
            text-align: center;
            margin-bottom: 0;
            background: #fff;
            padding-top: 6px;
            padding-bottom:12px;
            display: block;
            border-bottom: 1px solid #f4f4f4;
        }
        .m-t-30 {
            margin-top: 0px!important;
        }
        .tab-content>.active {
            display: block;
        }
        .preview-instagram-photo {
            position: relative;
            border: 1px solid #f4f4f4;
        }
        .preview-instagram-photo .preview-content .user-info {
            padding: 10px 20px;
        }
        .preview-instagram-photo .preview-content .preview-media {
            height: 368px;
            background-size: cover;
            background-position: center center;
            background-color: #f4f4f4;
            overflow: hidden;
            position: relative;
        }
        .preview-instagram-photo .preview-content .post-info, .preview-instagram-photo .preview-content .caption {
            padding: 10px 20px;
            word-break: break-all;
        }
        .preview-instagram-photo .preview-content .post-info, .preview-instagram-photo .preview-content .caption {
            padding: 10px 20px;
            word-break: break-all;
        }
        .preview-instagram-photo .preview-content .preview-comment {
            position: relative;
            border-top: 1px solid #eee;
            padding: 15px 50px;
            color: #999;
            background: url(/heart-icon.png) no-repeat 20px;
        }
        .img-circle{
            width: 30px;
        }
        .preview-instagram-photo .preview-content .line-no-text {
            margin-bottom: 3px;
            height: 13px;
            background: #f4f4f4;
        }
        .border-0{
            border-radius: 0px !important;
        }
        .activeClass{
            background:#7366ff;
            color:#fff;
        }
        .tab-content:focus {
            outline-color: transparent !important;
        }
        .m-t-30:focus{
            outline-color: transparent !important;
        }


        #input1{
            width:100%;
            width: 100%;
            padding: 6px 20px;
            background: #1B1C21;
            border: 1px solid rgb(60, 63, 78);
            color: #fff;
            border-top: 0px;
        }
        .input-field{
            width:100%;
        }
        .image-uploader {
            min-height: 5rem !important;
            border: 1px solid #29C4AC !important;
            position: relative !important;
            border-style: dashed !important;
            border-radius: 12px;
        }
        .upload-text{
            cursor: pointer;
        }
        .selectedActivated{
            background: #29C4AC;
        }
        #caption-area{
            border-top-left-radius:16px;
            padding:12px;
            border: 1px solid rgb(60, 63, 78);
            cursor: pointer;
            color:#fff;
            text-align: center;
        }
        #comment-area{
            border: 1px solid rgb(60, 63, 78);
            cursor: pointer;
            text-align: center;
            border-top-right-radius:16px;
            padding:12px;
            color:#fff;
        }


        .image-uploader .upload-text span {
            color: #29C4AC;
        }
        .image-uploader .upload-text {
            background-color: rgba(51, 163, 110, 0.5);
            color: rgba(51, 163, 110, 0.5);
        }
        .addClassActiveClass{
            background: #38585F !important;
            color: #29C4AC !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            border-radius: 6px !important;
        }
        .changeBgColor{
            background: #38585F;
        }
        .location-section{
            width: 100%;
        }
        .comment-post-section{
            width: 100%;
            margin-top: 0px;
        }
        .image-uploader .uploaded .uploaded-image .delete-image {
            width:32px !important;
        }
        #inner-section {
            border-radius: 16px;
            border-radius: 16px;
        }
        #camera-view {
            background: #1B1C21;
            color: #E5E6E8;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
        }
        #photo-video-area {
            color:#838894;
        }
        .same-bg {
            background: #21242B;
            padding: 12px 10px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            border-right: 1px solid rgb(60, 63, 78);
        }
        .section-a {
            background: #1B1C21;
        }
        .section-c {
            background: #1B1C21;
        }
        .section-b{
            background: #1B1C21;
        }
        .mid-bg{
            background: #21242B;
            padding: 12px 10px;
            border-right: 1px solid rgb(60, 63, 78);
        }
        .activeSections {
            background: #3C3F4E;
            color: #fff;
        }
        .hide-on-small-only:hover{
            color: #9b9b9b !important;
        }
        .right-bg{
            border-right: 1px solid rgb(60, 63, 78);
            background: #21242B;
            padding: 12px 10px;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }
        #plus-view{
            background:#1B1C21;
            color: #E5E6E8;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
        }
        #file-view{
            background: #1B1C21;
            color: #E5E6E8;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
        }
        #container {
            padding: 0px;
        }
        .fa-desktop {
            font-size:20px;
            margin-right:5px !important;
        }
        .fa-link{
            font-size:20px;
            margin-right:5px !important;
        }
        .section-heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 12px;
            background: #21242B;
            color: #fff;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            border-bottom:1px solid #3C3F4E;
        }
        .section-body{
            background: #21242B;
            padding:25px;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        #customImages {
            padding: 8px;
        }
        #customImages > img {
            height: 170px;
            object-fit: cover;
            border-radius: 12px;
        }
        #imagesMedia{
            padding-bottom: 100px;
        }
        .customH3{
            font-size:18px;
        }
        .fa-check {
            padding:6px;
            border-radius:12px;
            color:#fff;
            background-color:#32D55A;
        }
        .fa-map-marker{
            color: #fff;
            position: absolute;
            margin-top: 22px;
            margin-left: 13px;
            font-size: 17px;
        }
        .whiteClass{
            color:#fff;
        }
        .user-profile-section{
            display: flex;
            align-items: center;
            padding: 20px;
        }
        .flex-box-pro{
            display: flex;
            flex-direction: column;
            padding-left: 12px;
        }
        .pac-target-input:active{
            background: rgb(60, 63, 78) !important;
        }
        .pac-target-input{
            background: rgb(60, 63, 78);
            border: 1px solid rgb(60, 63, 78);
            height: 60px;
            padding-left: 35px;
        }
        .post-now-btn{
            background: #29C4AC;
            color:#fff;
            padding:15px;
            border: 0px;
            border-radius:12px;
            width: 100%;
        }
        .fa-ellipsis-h{
            transform: rotate(
                -90deg
            );
            position: absolute;
            right: -12px;
            top: 20px;
            cursor: pointer;
            color: #fff;
            background: rgb(60, 63, 78);
            padding: 0px 10px;
            border-radius: 4px;
        }
        .reaction-section {
            margin-top: 25px;
            color: #fff;
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @media (max-width:991px) {
            .container{
                width: 100%;
                max-width: 100%;
                min-width: 100%;
            }
        }
        @media (max-width:800px) {
            .container{
                width: 100%;
                max-width: 100%;
                min-width: 100%;
            }
            #mid-section-1 {
                width:100%;
                max-width:100%;
                min-width:100%;
            }
            #mid-section-3 {
                width:100%;
                max-width:100%;
                min-width:100%;
            }
            #mid-section{
                padding: 0px;
            }
            .types > label {
                width: 100%;
                border-radius: 12px;
            }
        }
        @media (max-width:500px) {
            .types > label {
                width: 100%;
                border-radius: 12px;
            }
            #mid-section{
                padding: 0px;
            }
        }

        .lightClass {
            background: #efefef;
            padding: 12px 10px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            border-right: 1px solid #fff;
        }
        .lightMidClass {
            background: #efefef;
            padding: 12px 10px;
            border-right: 1px solid #fff;
        }
        .lightRightClass {
            border-right: 1px solid #fff;
            background: #efefef;
            padding: 12px 10px;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }

        .SecionLightRightClass{
            background: #c0c0c0 !important;
        }

        .SecionLightMidClass{
            background: #c0c0c0 !important;
        }

        .SecionLightClass{
            background: #c0c0c0 !important;
        }
        .changeTextColor {
            color:#000 !important;
        }
        .sectionHeadingLight{
            background: #efefef !important;
            color: #000 !important;
        }
        .blackClass {
            color: #000 !important;
        }
        .textAreaClass{
            background: #efefef !important;
            border: 1px solid #fff !important;
            color:#000 !important;
        }
        .custom-control-label::after {
            position: absolute;
            top: 0.25rem;
            left: -1.5rem;
            display: block;
            width: 1rem;
            height: 1rem;
            content: "";
            background: no-repeat 50% / 50% 50%;
        }
        .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
            background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e);
        }
        .custom-checkbox .custom-control-label::before {
            border-radius: 25px;
        }
        .custom-control-input:checked ~ .custom-control-label::before{
            border: 0px;
            background-color: #1dc116;
        }
