
$dark-bg:  #21242b;

.dark-preview-holder{
    background-color: $dark-bg !important;
    .circle{
        width: 50px;
        height: 50px;
        border-radius:50%;
        background-color: #4f4f4f !important;
    }
    .placebar-full{
        // width: 100%;
        height: 10px;
        border-radius: 2px;
        background-color:#4f4f4f !important;
        margin: 5px;
    }
    .placebar-half{
        width: 50%;
        height: 10px;
        border-radius: 2px;
        background-color: #4f4f4f !important;
        margin: 5px;

    }
    .optionselection{
        background-color: $dark-bg !important;
        color: white;

    }
}

.preview-holder{
    // border: 1px solid red;
    background-color: white;
    border-radius:13px;
    // min-height:500px;

    .header{
        border-bottom: 1px solid gray;
        height:54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brand{
            height:100%;
            padding-left:20px;
            img{
                height: 35%;
                width: auto !important;
                position: relative;
                top: 50%;
                transform: translateY(-50%) !important;


            }

        }
        .social-switch-select{
            padding-right: 20px;
            .select{
                border: none;
                background-color: none;
                border-radius: 8px;
                outline: none;

            }
        }
    }

    .body{
        .social-preview{
            border: 1px solid red;
        }
    }

}

$placeholdercolor : #efefef;


@mixin circle {
    .circle{
        width: 50px;
        height: 50px;
        border-radius:50%;
        background-color:$placeholdercolor;
    }
}

@mixin placebar-full {
    .placebar-full{
        // width: 100%;
        height: 10px;
        border-radius: 2px;
        background-color:$placeholdercolor;
        margin: 5px;
    }
}


@mixin placebar-half {
    .placebar-half{
        width: 50%;
        height: 10px;
        border-radius: 2px;
        background-color:$placeholdercolor;
        margin: 5px;

    }
}

// instagram post
.instagram-post{
    // display:none;
    .post-header{
        height:auto;
        display:block;
        border: 0px;
        display:flex;
        justify-content:flex-start;
        padding: 15px 10px;
        margin-top:20px;
        @include circle();
        @include placebar-full();
        @include placebar-half();

        .left{
            margin-right: 7px;
        }
        .right{
            width: 60%;
        }
    }
    .post-body{
        // border:1px solid red;
        .post-image{
            width: 100%;
            .img{
                width: 100%;
            }
        }
    }
    .post-footer{
        // margin-top:30px;
        padding:20px;
        @include placebar-full();
        @include placebar-half();
    }
}


// instagram album

.instagram-album{
    display: none;
    .post-header{
        height:auto;
        display:block;
        border: 0px;
        display:flex;
        justify-content:flex-start;
        padding: 15px 10px;
        margin-top:20px;
        @include circle();
        @include placebar-full();
        @include placebar-half();

        .left{
            margin-right: 7px;
        }
        .right{
            width: 60%;
        }
    }
    .post-body{
        // border:1px solid red;
        .post-image{
            width: 380px;
            height: 380px;
            overflow : hidden;
            .img{
                height:100%;
                width: auto;
                position: relative;
                left: 50%;
                transform: translatex(-50%);
                background-position: center;
            }
        }
    }
    .post-footer{
        // margin-top:30px;
        padding:20px;
        @include placebar-full();
        @include placebar-half();
    }
}


$placeholdercolor : #3b3b3b;
// instagram story

.instagram-story{
    display:none;

    .post-container{
        width: 100%;
        height: 700px;
        background-color:black;
        background-position:center ;
        background-size: contain;
        background-repeat: no-repeat;
        .story-strip{
            display:flex;
            padding: 5px;
            justify-content:space-evenly;
            padding-top: 14px;
            .strip{
                width: 33%;
                height:5px;
                background-color: $placeholdercolor;
                margin: 0px 3px;
            }
        }

        .post-header{
            height:auto;
            display:block;
            border: 0px;
            display:flex;
            justify-content:flex-start;
            padding: 15px 10px;
            margin-top:20px;
            position: relative;
            top: 0;



            .left{
                margin-right: 7px;
                .circle{
                    width: 50px;
                    height: 50px;
                    border-radius:50%;
                    background-color:$placeholdercolor;
                }
            }
            .right{
                width: 60%;
                .placebar-full{
                    width: 100%;
                    height: 10px;
                    border-radius: 2px;
                    background-color:$placeholdercolor;
                    margin: 5px;
                }
                .placebar-half{
                    width: 50%;
                    height: 10px;
                    border-radius: 2px;
                    background-color:$placeholdercolor;
                    margin: 5px;
                }
            }
        }
        // .post-image{
        //     width: 100%;
        //     position: relative;
        //     top: 40%;
        //     transform: translateY(-50%);
        // }

        .post-footer{
            display: flex;
            position: relative;
            top: 545px;
            padding: 0px 10px;
            left: 0;
            .replybox{
                width: 95%;
                height: 20px;
                border-radius: 15px;
                background-color:$placeholdercolor;
                // margin: 5px;
                margin-right: 8px;
            }
            .replybtn{
                width: 20px;
                height: 20px;
                border-radius:50%;
                background-color:$placeholdercolor;
            }
        }
    }







}


// twitter -----------------------------------------------------------------


// twitter post
$placeholdercolor : #efefef;


.twitter-post{
    display:none;
    .post-header{
        height:auto;
        display:block;
        border: 0px;
        display:flex;
        justify-content:flex-start;
        padding: 15px 10px;
        margin-top:20px;
        @include circle();
        @include placebar-full();
        @include placebar-half();

        .left{
            margin-right: 7px;
        }
        .right{
            width: 60%;
        }
    }
    .post-body{
        // border:1px solid red;
        .post-image{
            padding: 15px;
            width: 100%;
            overflow: hidden;

            .img{
                width: 100%;
                border-radius:10px;
            }
        }
    }
    .post-footer{
        // margin-top:30px;
        padding:10px 20px;
        @include placebar-full();
        @include placebar-half();
    }
}



$placeholdercolor : #3b3b3b;
// Twitter story

.twitter-story{
    display:none;

    .post-container{
        width: 100%;
        height: 700px;
        background-color:black;
        background-position:center ;
        background-size: contain;
        background-repeat: no-repeat;
        overflow : hidden;
        border-radius:18px;
        margin-top:10px;

        .story-strip{
            display:flex;
            padding: 5px;
            justify-content:space-evenly;
            padding-top: 14px;
            .strip{
                width: 33%;
                height:5px;
                background-color: $placeholdercolor;
                margin: 0px 3px;
            }
        }

        .post-header{
            height:auto;
            display:block;
            border: 0px;
            display:flex;
            justify-content:flex-start;
            padding: 15px 10px;
            margin-top:10px;
            position: relative;
            top: 0;



            .left{
                margin-right: 7px;
                .circle{
                    width: 50px;
                    height: 50px;
                    border-radius:50%;
                    background-color:$placeholdercolor;
                }
            }
            .right{
                width: 60%;
                .placebar-full{
                    width: 100%;
                    height: 10px;
                    border-radius: 2px;
                    background-color:$placeholdercolor;
                    margin: 5px;
                }
                .placebar-half{
                    width: 50%;
                    height: 10px;
                    border-radius: 2px;
                    background-color:$placeholdercolor;
                    margin: 5px;
                }
            }
        }
        // .post-image{
        //     width: 100%;
        //     position: relative;
        //     top: 40%;
        //     transform: translateY(-50%);
        // }

        .post-footer{
            display: flex;
            position: relative;
            top: 586px;
            padding: 0px 10px;
            left: 0;
            .replybox{
                width: 95%;
                height: 20px;
                border-radius: 15px;
                background-color:$placeholdercolor;
                // margin: 5px;
                margin-right: 8px;
            }
            .replybtn{
                width: 20px;
                height: 20px;
                border-radius:50%;
                background-color:$placeholdercolor;
            }
        }
    }



}








//  linkedin ---------------------------------------------\\

// linkedin post


$placeholdercolor : #efefef;


.linkedin-post{
    display:none;
    .post-header{
        height:auto;
        display:block;
        border: 0px;
        display:flex;
        justify-content:flex-start;
        padding: 15px 10px;
        margin-top:20px;
        @include circle();
        @include placebar-full();
        @include placebar-half();

        .left{
            margin-right: 7px;
        }
        .right{
            width: 60%;
        }
    }
    .post-body{
        // border:1px solid red;
        .post-image{
            // padding: 15px;
            width: 100%;
            overflow: hidden;

            .img{
                width: 100%;
                // border-radius:10px;
            }
        }
    }
    .post-footer{
        // margin-top:30px;
        padding:10px 20px;
        @include placebar-full();
        @include placebar-half();
    }
}



// facebook--------------------------------------------------------------



// facebook post


$placeholdercolor : #efefef;


.facebook-post{
    display:none;
    .post-header{
        height:auto;
        display:block;
        border: 0px;
        display:flex;
        justify-content:flex-start;
        padding: 15px 10px;
        margin-top:20px;
        @include circle();
        @include placebar-full();
        @include placebar-half();

        .left{
            margin-right: 7px;
        }
        .right{
            width: 60%;
        }
    }
    .post-body{
        // border:1px solid red;
        .post-image{
            // padding: 15px;
            width: 100%;
            overflow: hidden;

            .img{
                width: 100%;
                // border-radius:10px;
            }
        }
    }
    .post-footer{
        // margin-top:30px;
        padding:10px 20px;
        @include placebar-full();
        @include placebar-half();

        .actionbar{
            display:flex;
            justify-content: space-evenly;

            .action{
                display:flex;
                justify-content: center;
                color: black;

                .icon{
                    height:20px;
                    .img{
                        height:100%;
                    }

                }
                .label{
                    color:black;
                    text-align:center;
                    padding: 6px;
                }


            }
        }
    }
}





// facebook story
$placeholdercolor : #3b3b3b;

.facebook-story{
    display:none;

    .post-container{
        width: 100%;
        height: 700px;
        background-color:black;
        background-position:center ;
        background-size: contain;
        background-repeat: no-repeat;
        .story-strip{
            display:flex;
            padding: 5px;
            justify-content:space-evenly;
            padding-top: 14px;
            .strip{
                width: 33%;
                height:5px;
                background-color: $placeholdercolor;
                margin: 0px 3px;
            }
        }

        .post-header{
            height:auto;
            display:block;
            border: 0px;
            display:flex;
            justify-content:flex-start;
            padding: 15px 10px;
            margin-top:8px;
            position: relative;
            top: 0;



            .left{
                margin-right: 7px;
                .circle{
                    width: 50px;
                    height: 50px;
                    border-radius:50%;
                    background-color:$placeholdercolor;
                }
            }
            .right{
                width: 60%;
                .placebar-full{
                    width: 100%;
                    height: 10px;
                    border-radius: 2px;
                    background-color:$placeholdercolor;
                    margin: 5px;
                }
                .placebar-half{
                    width: 50%;
                    height: 10px;
                    border-radius: 2px;
                    background-color:$placeholdercolor;
                    margin: 5px;
                }
            }
        }
        // .post-image{
        //     width: 100%;
        //     position: relative;
        //     top: 40%;
        //     transform: translateY(-50%);
        // }

        .post-footer{
            display: flex;
            position: relative;
            top: 555px;
            padding: 0px 10px;
            left: 0;
            .replybox{
                width: 95%;
                height: 20px;
                border-radius: 15px;
                background-color:$placeholdercolor;
                // margin: 5px;
                margin-right: 8px;
            }
            .replybtn{
                width: 20px;
                height: 20px;
                border-radius:50%;
                background-color:$placeholdercolor;
            }
        }
    }







}




//  youtube --------------------------------------------------------


// youtube post


$placeholdercolor : #efefef;
$video-container-color: #cecece;


.youtube-post{
    display:none;

    .video-container {
        width: 100%;
        // height: 200px;
        background-color:$placeholdercolor;
        .img{
            width:100%
        }

    }
    .title{
        margin-top: 12px ;
        .placebar-full{
            width: 80%;
            height: 10px;
            border-radius: 2px;
            background-color:$placeholdercolor;
            margin: 5px;
        }
        .placebar-half{
            width: 30%;
            height: 10px;
            border-radius: 2px;
            background-color:$placeholdercolor;
            margin: 5px;
        }
    }
    .profile{
        display: flex;
        justify-content: flex-start;
        padding: 0px 20px;
        .left{
            margin-right: 7px;
            .circle{
                width: 50px;
                height: 50px;
                border-radius:50%;
                background-color:$placeholdercolor;
            }
        }
        .right{
            width: 60%;
            .placebar-full{
                width: 100%;
                height: 10px;
                border-radius: 2px;
                background-color:$placeholdercolor;
                margin: 5px;
            }
            .placebar-half{
                width: 50%;
                height: 10px;
                border-radius: 2px;
                background-color:$placeholdercolor;
                margin: 5px;
            }
        }
    }

    .videolist{
        margin-bottom: 20px;
        padding-bottom: 30px;

        .video{
            margin-bottom: 20px;
            .image{
                width: 90%;
                height: 150px;
                background-color:$placeholdercolor;
                margin: 0 auto;
            }
            .detail{
                display: flex;
                justify-content: flex-start;
                width: 90%;
                margin: 0 auto;
                margin-top:15px;
                .left{
                    margin-right: 7px;
                    .circle{
                        width: 50px;
                        height: 50px;
                        border-radius:50%;
                        background-color:$placeholdercolor;
                    }
                }
                .right{
                    width: 60%;
                    .placebar-full{
                        width: 100%;
                        height: 10px;
                        border-radius: 2px;
                        background-color:$placeholdercolor;
                        margin: 5px;
                    }
                    .placebar-half{
                        width: 50%;
                        height: 10px;
                        border-radius: 2px;
                        background-color:$placeholdercolor;
                        margin: 5px;
                    }
                }
            }
        }
    }

}




// youtube story
$placeholdercolor : #3b3b3b;

.youtube-story{
    display:none;

    .post-container{
        width: 100%;
        height: 700px;
        background-color:black;
        background-position:center ;
        background-size: contain;
        background-repeat: no-repeat;
        .story-strip{
            display:flex;
            padding: 5px;
            justify-content:space-evenly;
            padding-top: 14px;
            .strip{
                width: 33%;
                height:5px;
                background-color: $placeholdercolor;
                margin: 0px 3px;
            }
        }

        .post-header{
            height:auto;
            display:block;
            border: 0px;
            display:flex;
            justify-content:flex-start;
            padding: 15px 10px;
            margin-top:20px;
            position: relative;
            top: 540px;
            border-bottom: 1px solid gray;



            .left{
                margin-right: 7px;
                .circle{
                    width: 50px;
                    height: 50px;
                    border-radius:50%;
                    background-color:$placeholdercolor;
                }
            }
            .right{
                width: 60%;
                .placebar-full{
                    width: 100%;
                    height: 10px;
                    border-radius: 2px;
                    background-color:$placeholdercolor;
                    margin: 5px;
                }
                .placebar-half{
                    width: 50%;
                    height: 10px;
                    border-radius: 2px;
                    background-color:$placeholdercolor;
                    margin: 5px;
                }
            }
        }
        // .post-image{
        //     width: 100%;
        //     position: relative;
        //     top: 40%;
        //     transform: translateY(-50%);
        // }

        .post-footer{
            display: flex;
            position: relative;
            top: 545px;
            padding: 0px 10px;
            left: 0;
            .replybox{
                width: 95%;
                height: 20px;
                border-radius: 15px;
                background-color:$placeholdercolor;
                // margin: 5px;
                margin-right: 8px;
            }
            .replybtn{
                width: 20px;
                height: 20px;
                border-radius:50%;
                background-color:$placeholdercolor;
            }
        }
    }







}





// tiktok post
$placeholdercolor : #3b3b3b;

.tiktok-post{
    display:none;

    .post-container{
        width: 100%;
        height: 700px;
        background-color:black;
        background-position:center ;
        background-size: contain;
        background-repeat: no-repeat;
        .top-header{

            padding: 5px;
            text-align: center;
            padding-top: 14px;
            color: lightgray;
            font-size:normal;
            span{
                color: white;
                font-weight: bold;
            }
        }

        .sideaction{
            position: relative;
            top: 50%;
            width:fit-content;
            // right: 0;
            left: 85%;

            .circle{
                width: 50px;
                height: 50px;
                border-radius:50%;
                background-color:$placeholdercolor;
            }

            .icons{
                width: 50px;
                height: 50px;
                border-radius:50%;
                text-align: center;
                align-items: center;
                margin-top: 10px;

                img{
                    width: 90%;
                }
            }
        }
        .caption{
            width: 80%;
            position: relative;
            top: 370px;
            @include placebar-full();
            @include placebar-half();
        }




    }







}
