@charset "UTF-8";
@font-face {
  font-family: 'Pe-icon-7-stroke';
  src: url("../../fonts/pe7-icon/Pe-icon-7-stroke.eot?d7yf1v");
  src: url("../../fonts/pe7-icon/Pe-icon-7-stroke.eot?#iefixd7yf1v") format("embedded-opentype"), url("../../fonts/pe7-icon/Pe-icon-7-stroke.woff?d7yf1v") format("woff"), url("../../fonts/pe7-icon/Pe-icon-7-stroke.ttf?d7yf1v") format("truetype"), url("../../fonts/pe7-icon/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pe-7s-album:before {
  content: "";
}

.pe-7s-arc:before {
  content: "";
}

.pe-7s-back-2:before {
  content: "";
}

.pe-7s-bandaid:before {
  content: "";
}

.pe-7s-car:before {
  content: "";
}

.pe-7s-diamond:before {
  content: "";
}

.pe-7s-door-lock:before {
  content: "";
}

.pe-7s-eyedropper:before {
  content: "";
}

.pe-7s-female:before {
  content: "";
}

.pe-7s-gym:before {
  content: "";
}

.pe-7s-hammer:before {
  content: "";
}

.pe-7s-headphones:before {
  content: "";
}

.pe-7s-helm:before {
  content: "";
}

.pe-7s-hourglass:before {
  content: "";
}

.pe-7s-leaf:before {
  content: "";
}

.pe-7s-magic-wand:before {
  content: "";
}

.pe-7s-male:before {
  content: "";
}

.pe-7s-map-2:before {
  content: "";
}

.pe-7s-next-2:before {
  content: "";
}

.pe-7s-paint-bucket:before {
  content: "";
}

.pe-7s-pendrive:before {
  content: "";
}

.pe-7s-photo:before {
  content: "";
}

.pe-7s-piggy:before {
  content: "";
}

.pe-7s-plugin:before {
  content: "";
}

.pe-7s-refresh-2:before {
  content: "";
}

.pe-7s-rocket:before {
  content: "";
}

.pe-7s-settings:before {
  content: "";
}

.pe-7s-shield:before {
  content: "";
}

.pe-7s-smile:before {
  content: "";
}

.pe-7s-usb:before {
  content: "";
}

.pe-7s-vector:before {
  content: "";
}

.pe-7s-wine:before {
  content: "";
}

.pe-7s-cloud-upload:before {
  content: "";
}

.pe-7s-cash:before {
  content: "";
}

.pe-7s-close:before {
  content: "";
}

.pe-7s-bluetooth:before {
  content: "";
}

.pe-7s-cloud-download:before {
  content: "";
}

.pe-7s-way:before {
  content: "";
}

.pe-7s-close-circle:before {
  content: "";
}

.pe-7s-id:before {
  content: "";
}

.pe-7s-angle-up:before {
  content: "";
}

.pe-7s-wristwatch:before {
  content: "";
}

.pe-7s-angle-up-circle:before {
  content: "";
}

.pe-7s-world:before {
  content: "";
}

.pe-7s-angle-right:before {
  content: "";
}

.pe-7s-volume:before {
  content: "";
}

.pe-7s-angle-right-circle:before {
  content: "";
}

.pe-7s-users:before {
  content: "";
}

.pe-7s-angle-left:before {
  content: "";
}

.pe-7s-user-female:before {
  content: "";
}

.pe-7s-angle-left-circle:before {
  content: "";
}

.pe-7s-up-arrow:before {
  content: "";
}

.pe-7s-angle-down:before {
  content: "";
}

.pe-7s-switch:before {
  content: "";
}

.pe-7s-angle-down-circle:before {
  content: "";
}

.pe-7s-scissors:before {
  content: "";
}

.pe-7s-wallet:before {
  content: "";
}

.pe-7s-safe:before {
  content: "";
}

.pe-7s-volume2:before {
  content: "";
}

.pe-7s-volume1:before {
  content: "";
}

.pe-7s-voicemail:before {
  content: "";
}

.pe-7s-video:before {
  content: "";
}

.pe-7s-user:before {
  content: "";
}

.pe-7s-upload:before {
  content: "";
}

.pe-7s-unlock:before {
  content: "";
}

.pe-7s-umbrella:before {
  content: "";
}

.pe-7s-trash:before {
  content: "";
}

.pe-7s-tools:before {
  content: "";
}

.pe-7s-timer:before {
  content: "";
}

.pe-7s-ticket:before {
  content: "";
}

.pe-7s-target:before {
  content: "";
}

.pe-7s-sun:before {
  content: "";
}

.pe-7s-study:before {
  content: "";
}

.pe-7s-stopwatch:before {
  content: "";
}

.pe-7s-star:before {
  content: "";
}

.pe-7s-speaker:before {
  content: "";
}

.pe-7s-signal:before {
  content: "";
}

.pe-7s-shuffle:before {
  content: "";
}

.pe-7s-shopbag:before {
  content: "";
}

.pe-7s-share:before {
  content: "";
}

.pe-7s-server:before {
  content: "";
}

.pe-7s-search:before {
  content: "";
}

.pe-7s-film:before {
  content: "";
}

.pe-7s-science:before {
  content: "";
}

.pe-7s-disk:before {
  content: "";
}

.pe-7s-ribbon:before {
  content: "";
}

.pe-7s-repeat:before {
  content: "";
}

.pe-7s-refresh:before {
  content: "";
}

.pe-7s-add-user:before {
  content: "";
}

.pe-7s-refresh-cloud:before {
  content: "";
}

.pe-7s-paperclip:before {
  content: "";
}

.pe-7s-radio:before {
  content: "";
}

.pe-7s-note2:before {
  content: "";
}

.pe-7s-print:before {
  content: "";
}

.pe-7s-network:before {
  content: "";
}

.pe-7s-prev:before {
  content: "";
}

.pe-7s-mute:before {
  content: "";
}

.pe-7s-power:before {
  content: "";
}

.pe-7s-medal:before {
  content: "";
}

.pe-7s-portfolio:before {
  content: "";
}

.pe-7s-like2:before {
  content: "";
}

.pe-7s-plus:before {
  content: "";
}

.pe-7s-left-arrow:before {
  content: "";
}

.pe-7s-play:before {
  content: "";
}

.pe-7s-key:before {
  content: "";
}

.pe-7s-plane:before {
  content: "";
}

.pe-7s-joy:before {
  content: "";
}

.pe-7s-photo-gallery:before {
  content: "";
}

.pe-7s-pin:before {
  content: "";
}

.pe-7s-phone:before {
  content: "";
}

.pe-7s-plug:before {
  content: "";
}

.pe-7s-pen:before {
  content: "";
}

.pe-7s-right-arrow:before {
  content: "";
}

.pe-7s-paper-plane:before {
  content: "";
}

.pe-7s-delete-user:before {
  content: "";
}

.pe-7s-paint:before {
  content: "";
}

.pe-7s-bottom-arrow:before {
  content: "";
}

.pe-7s-notebook:before {
  content: "";
}

.pe-7s-note:before {
  content: "";
}

.pe-7s-next:before {
  content: "";
}

.pe-7s-news-paper:before {
  content: "";
}

.pe-7s-musiclist:before {
  content: "";
}

.pe-7s-music:before {
  content: "";
}

.pe-7s-mouse:before {
  content: "";
}

.pe-7s-more:before {
  content: "";
}

.pe-7s-moon:before {
  content: "";
}

.pe-7s-monitor:before {
  content: "";
}

.pe-7s-micro:before {
  content: "";
}

.pe-7s-menu:before {
  content: "";
}

.pe-7s-map:before {
  content: "";
}

.pe-7s-map-marker:before {
  content: "";
}

.pe-7s-mail:before {
  content: "";
}

.pe-7s-mail-open:before {
  content: "";
}

.pe-7s-mail-open-file:before {
  content: "";
}

.pe-7s-magnet:before {
  content: "";
}

.pe-7s-loop:before {
  content: "";
}

.pe-7s-look:before {
  content: "";
}

.pe-7s-lock:before {
  content: "";
}

.pe-7s-lintern:before {
  content: "";
}

.pe-7s-link:before {
  content: "";
}

.pe-7s-like:before {
  content: "";
}

.pe-7s-light:before {
  content: "";
}

.pe-7s-less:before {
  content: "";
}

.pe-7s-keypad:before {
  content: "";
}

.pe-7s-junk:before {
  content: "";
}

.pe-7s-info:before {
  content: "";
}

.pe-7s-home:before {
  content: "";
}

.pe-7s-help2:before {
  content: "";
}

.pe-7s-help1:before {
  content: "";
}

.pe-7s-graph3:before {
  content: "";
}

.pe-7s-graph2:before {
  content: "";
}

.pe-7s-graph1:before {
  content: "";
}

.pe-7s-graph:before {
  content: "";
}

.pe-7s-global:before {
  content: "";
}

.pe-7s-gleam:before {
  content: "";
}

.pe-7s-glasses:before {
  content: "";
}

.pe-7s-gift:before {
  content: "";
}

.pe-7s-folder:before {
  content: "";
}

.pe-7s-flag:before {
  content: "";
}

.pe-7s-filter:before {
  content: "";
}

.pe-7s-file:before {
  content: "";
}

.pe-7s-expand1:before {
  content: "";
}

.pe-7s-exapnd2:before {
  content: "";
}

.pe-7s-edit:before {
  content: "";
}

.pe-7s-drop:before {
  content: "";
}

.pe-7s-drawer:before {
  content: "";
}

.pe-7s-download:before {
  content: "";
}

.pe-7s-display2:before {
  content: "";
}

.pe-7s-display1:before {
  content: "";
}

.pe-7s-diskette:before {
  content: "";
}

.pe-7s-date:before {
  content: "";
}

.pe-7s-cup:before {
  content: "";
}

.pe-7s-culture:before {
  content: "";
}

.pe-7s-crop:before {
  content: "";
}

.pe-7s-credit:before {
  content: "";
}

.pe-7s-copy-file:before {
  content: "";
}

.pe-7s-config:before {
  content: "";
}

.pe-7s-compass:before {
  content: "";
}

.pe-7s-comment:before {
  content: "";
}

.pe-7s-coffee:before {
  content: "";
}

.pe-7s-cloud:before {
  content: "";
}

.pe-7s-clock:before {
  content: "";
}

.pe-7s-check:before {
  content: "";
}

.pe-7s-chat:before {
  content: "";
}

.pe-7s-cart:before {
  content: "";
}

.pe-7s-camera:before {
  content: "";
}

.pe-7s-call:before {
  content: "";
}

.pe-7s-calculator:before {
  content: "";
}

.pe-7s-browser:before {
  content: "";
}

.pe-7s-box2:before {
  content: "";
}

.pe-7s-box1:before {
  content: "";
}

.pe-7s-bookmarks:before {
  content: "";
}

.pe-7s-bicycle:before {
  content: "";
}

.pe-7s-bell:before {
  content: "";
}

.pe-7s-battery:before {
  content: "";
}

.pe-7s-ball:before {
  content: "";
}

.pe-7s-back:before {
  content: "";
}

.pe-7s-attention:before {
  content: "";
}

.pe-7s-anchor:before {
  content: "";
}

.pe-7s-albums:before {
  content: "";
}

.pe-7s-alarm:before {
  content: "";
}

.pe-7s-airplay:before {
  content: "";
}

/* HELPER CLASS
 * -------------------------- */
/* FA based classes */
/*! Modified from font-awesome helper CSS classes - PIXEDEN
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (CSS: MIT License)
 */
/* makes the font 33% larger relative to the icon container */
.pe-lg {
  font-size: 1.33em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.pe-2x {
  font-size: 2em;
}

.pe-3x {
  font-size: 3em;
}

.pe-4x {
  font-size: 4em;
}

.pe-5x {
  font-size: 5em;
}

.pe-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.pe-ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}

.pe-ul > li {
  position: relative;
}

.pe-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.14285714285714285em;
  text-align: center;
}

.pe-li.pe-lg {
  left: -1.8571428571428572em;
}

.pe-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pe.pull-left {
  float: left;
  margin-right: .3em;
  margin-left: .3em;
}

.pe-spin {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.pe-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  transform: rotate(90deg);
}

.pe-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  transform: rotate(180deg);
}

.pe-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  transform: rotate(270deg);
}

.pe-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  transform: scale(-1, 1);
}

.pe-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  transform: scale(1, -1);
}

.pe-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.pe-stack-1x,
.pe-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.pe-stack-1x {
  line-height: inherit;
}

.pe-stack-2x {
  font-size: 2em;
}

.pe-inverse {
  color: #ffffff;
}

/* Custom classes / mods - PIXEDEN */
.pe-va {
  vertical-align: middle;
}

.pe-border {
  border: solid 0.08em #eaeaea;
}
/*# sourceMappingURL=pe7-icon.css.map */